NEXT_PUBLIC_POCKETBASE_URL=
POCKETBASE_URL=
OPENAI_API_KEY=
OPENAI_MODEL=
OPENAI_VECTOR_STORE_ID=
OPENAI_CLASSIFIER_MODEL=
POCKETBASE_SUPERUSER_EMAIL=
POCKETBASE_SUPERUSER_PASSWORD=
TOPIC_CLASSIFICATION_MIN_CONFIDENCE=
APP_TIMEZONE=
FEEDBACK_ALERT_MIN_TOTAL=
FEEDBACK_ALERT_NEGATIVE_RATE=
AUTH_RATE_LIMIT_PEPPER=
AUTH_LOGIN_MAX_FAILURES=
AUTH_LOGIN_WINDOW_MINUTES=
AUTH_LOGIN_BLOCK_MINUTES=
AUDIT_IP_PEPPER=
CHAT_RATE_LIMIT_MAX_REQUESTS=
CHAT_RATE_LIMIT_WINDOW_SECONDS=
CHAT_DAILY_LIMIT=
CHAT_REQUEST_LOCK_SECONDS=
AI_DEFAULT_DAILY_TOKEN_LIMIT=
AI_DEFAULT_MONTHLY_TOKEN_LIMIT=
AI_DEFAULT_DAILY_COST_LIMIT_USD=
AI_DEFAULT_MONTHLY_COST_LIMIT_USD=
AI_USAGE_WARNING_PERCENT=
APP_SESSION_HASH_SECRET=
APP_SESSION_TTL_SECONDS=
APP_ORIGIN=
CSP_ENFORCE=
CRON_SECRET=
